*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.form-box{
    width:350px;
    margin:100px auto;
   
   
}
fieldset{
    border:2px solid black;
    height:350px;
    padding-left: 15px;
    padding-top: 50px;
}
input{
    display:block;
    width:90%;
    height:30px;

}
lable{
    font-size: 20px;
}
button{
    font-size:25px;
    width:50%;
    margin-left: 40px;
    margin-top: 20px;
}
legend{
    margin-left:50px;
    font-size:30px;
}